snippet #! "#!/usr/bin/env python"
#! /usr/bin/env python3
# -*- coding: utf-8 -*-

$0
endsnippet

snippet np "import numpy as np"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

$0
endsnippet

snippet WORKDIR "WORKDIR"
WORKDIR = Path.joinpath(Path.home(), "workspace", "$0")
endsnippet

snippet pathlib "from pathlib import Path"
from pathlib import Path
$0
endsnippet

snippet joinpath "joinpath"
Path.joinpath(WORKDIR, "$0")
endsnippet
