snippet WORKDIR "WORKDIR"
WORKDIR <- fs::path(Sys.getenv("HOME"), "workspace", "$0")
endsnippet

snippet library-suppressMessages "library-suppressMessages"
library <- function(...) suppressMessages(base::library(...))
endsnippet

snippet ggsave-suppressMessages "ggsave-suppressMessages"
ggsave <- function(...) suppressMessages(ggplot2::ggsave(...))
endsnippet
