/*https://github.com/Petingoso/dotfiles/blob/master/dot_config/waybar/everforest.css*/
window#waybar {
    background-color: #0c2a2a;
    font-family: Iosevka Nerd Font;
    color: #d3c6aa;
}

#workspaces {
    font-size: 14px;
    margin: 5px 8px;
    color: #d3c6aa;
}

#workspaces button {
    padding: 2px 7px;
    color: #d3c6aa;
}

#workspaces button.active {
    color: #d3c6aa;
    border-color: #d3c6aa;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #d3c6aa;
    border-color: #d3c6aa;
    border-radius: 10px;
}

#clock {
    color: #dadada;
    font-size: 1em;
    margin: 3px 8px;
}

#custom-power {
    color: #141b1e;
    background-color: #e57474;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 13px;
    margin: 5px 8px;
}

#custom-icon {
    color: #141b1e;
    background-color: #8ccf7e;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 13px;
    margin: 5px 8px;
}

#custom-separator {
    color: #dadada;
    font-size: 1.2em;
}

#custom-wofi {
    border-radius: 40px;
    margin: 10px;
    font-size:17px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}

#tray {
    margin: 5px 8px;
}

#cpu,
#temperature,
#memory,
#disk,
#network {
    padding: 0 10px;
}
